extends layout.pug



block content 

  nav.grid-container.portfolio-breadcrumb

    a(href='/') ← Back

  article.grid-container.portfolio-intro.portfolio-project

    .grid-x

      .cell.small-6.medium-9.large-9



        //- my name.

        h1 Katherine Pacheco



        //- my job title

        p.lead.text-light

          | Full Stack Software Engineer and Business Intelligence Developer.



        //- my bio

        .portfolio-bio

          p

          | I have gained a myriad of skills to add to my professional experience for back end development through the TeamTreehouse JavaScript Fullstack TechDegree. Having gained these new skills, 
          | will make me a valuable asset at my current employment and any future endeavors. I worked for many years on the business side of processes. I have now 7 years of professional experience working with HealthCare data. Through these years
          | I've worn the hats of a Data Analyst, Business Intelligence Developer , Database Developer, Internal App developer, Business Analyst and Project Manager. Adding new Front End Developer skills makes me a well rounded 
          | full resource developer. I can gather business requirements and come up with a solution that will meet critical business needs and
          | make processes more effecient and get a business working more on quality of work rather then fighting with 
          | manual, disconnected,  and ineffecient tasks.

      .cell.portfolio-meta.small-6.medium-2.large-3

        h6 Skills



        //- my skills

        ul

          li HTML & Pug (Jade)

          li CSS

          li ES6 JavaScript

          li jQuery

          li Fetch API

          li NodeJS & Express 

          li SQL

          li SSRS, SSIS, SSAS

          li and More....




        h6 Contact Info



        //- aliased ontact info

        ul

          li 555-555-1234

          li fakeemail@email.com



        //- I do not have any social media accounts but these would be the links

        a.button.expanded(href='') LinkedIn (Coming Soon)

        a.button.expanded(href='https://github.com/kpacheco84/' target="_blank") GitHub 

  nav.grid-container.portfolio-breadcrumb

    a(href='/') ← Back